/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: color-scheme,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

/* Optional: smooth transition between modes */
html {
  transition: background-color 0.2s ease, color 0.2s ease;
}

body {
  margin: 0;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

mat-icon {
  font-family: 'Material Symbols Outlined', serif !important;
}
